<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Бібліотека{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="{% block body_class %}{% endblock %}">

<header class="header">
    <a href="{{ url_for('index') }}">Головна</a>
    <a href="{{ url_for('author') }}">Про автора</a>
    <a href="{{ url_for('library') }}">Бібліотека</a>
</header>


<main>
    {% block content %}{% endblock %}
</main>

</body>
</html>